In [19]:
import numpy as np
import pandas as pd
import wrds
import psycopg2 
from datetime import datetime
import pandas_datareader.data as web
conn=wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

# Warren Buffet and ARKK Data

In [15]:


start = datetime(1960, 1, 1)  # Replace YYYY, MM, DD with the desired start date

ds = web.DataReader('F-F_Research_Data_5_Factors_2x3_Daily', 'famafrench', start=start)
dff5 = ds[0]

ds = web.DataReader('F-F_Momentum_Factor_Daily', 'famafrench', start=start)
dmom = ds[0]

dff6 = dff5.merge(dmom, left_index=True, right_index=True, how='inner')
dff6 = dff6 / 100

Mkt-RF    0.068960
SMB       0.017871
HML       0.036446
RMW       0.034791
CMA       0.032238
RF        0.043425
Mom       0.068840
dtype: float64

In [16]:
from codesnippets import get_returns_daily
df=get_returns_daily(['BRK'],conn,'1/1/1960','1/1/2022',variable='ret')


df=(dff6).merge(df[17778.0],left_index=True,right_index=True,how='inner').dropna(how='any')
df.rename(columns={17778:'BRK'},inplace=True)


df_temp=get_returns_daily(['ARKK'],conn,'1/1/1960','1/1/2022',variable='ret')
df=(df).merge(df_temp,left_index=True,right_index=True,how='left')
df.rename(columns={14948.0:'ARKK'},inplace=True)
df.to_pickle('../../assets/data/df_WarrenBAndCathieW.pkl')
df

,Mkt-RF,SMB,HML,RMW,CMA,RF,Mom,BRK,ARKK
1988-11-29,0.0080,-0.0045,-0.0045,0.0028,-0.0033,0.00027,0.0018,0.000000,NaN
1988-11-30,0.0091,-0.0007,-0.0032,0.0011,-0.0030,0.00027,0.0033,0.000000,NaN
1988-12-01,-0.0019,0.0052,-0.0016,-0.0011,-0.0034,0.00030,0.0021,0.010638,NaN
1988-12-02,-0.0020,0.0035,-0.0041,-0.0012,-0.0030,0.00030,-0.0029,0.031579,NaN
1988-12-05,0.0087,-0.0036,-0.0022,0.0028,-0.0037,0.00030,-0.0005,0.000000,NaN
...,...,...,...,...,...,...,...,...,...
2021-12-27,0.0122,-0.0013,0.0029,0.0097,0.0048,0.00000,0.0192,0.005523,-0.016756
2021-12-28,-0.0027,-0.0041,0.0081,0.0084,0.0020,0.00000,-0.0053,0.005502,-0.018273
2021-12-29,0.0006,-0.0003,0.0017,0.0069,0.0000,0.00000,0.0041,0.005632,-0.010639
2021-12-30,-0.0015,0.0008,-0.0040,-0.0083,-0.0042,0.00000,-0.0106,0.001323,0.030587
2021-12-31,-0.0031,0.0018,0.0053,0.0036,0.0040,0.00000,0.0042,-0.004502,-0.021820

In [30]:


start = datetime(1960, 1, 1)  # Replace YYYY, MM, DD with the desired start date

ds = web.DataReader('F-F_Research_Data_5_Factors_2x3', 'famafrench', start=start)
dff5 = ds[0]

ds = web.DataReader('F-F_Momentum_Factor', 'famafrench', start=start)
dmom = ds[0]

dff6 = dff5.merge(dmom, left_index=True, right_index=True, how='inner')
dff6 = dff6 / 100
dff6.index = dff6.index.to_timestamp() + pd.offsets.MonthEnd()
dff6

from codesnippets import get_returns_monthly
df=get_returns_monthly(['BRK'],conn,'1/1/1960','1/1/2022',variable='ret')


df=(dff6).merge(df[17778.0],left_index=True,right_index=True,how='inner').dropna(how='any')
df.rename(columns={17778:'BRK'},inplace=True)


df_temp=get_returns_monthly(['ARKK'],conn,'1/1/1960','1/1/2022',variable='ret')
df=(df).merge(df_temp,left_index=True,right_index=True,how='left')
df.rename(columns={14948.0:'ARKK'},inplace=True)
df.to_pickle('../../assets/data/df_WarrenBAndCathieW_monthly.pkl')
df

,Mkt-RF,SMB,HML,RMW,CMA,RF,Mom,BRK,ARKK
1988-11-30,-0.0229,-0.0165,0.0141,-0.0028,0.0162,0.0057,0.0033,-0.005291,NaN
1989-01-31,0.0610,-0.0231,0.0060,-0.0095,0.0014,0.0055,-0.0016,0.047872,NaN
1989-02-28,-0.0225,0.0271,0.0101,-0.0087,0.0181,0.0061,0.0099,-0.040609,NaN
1989-03-31,0.0157,0.0068,0.0058,0.0005,0.0072,0.0067,0.0351,0.047619,NaN
1989-05-31,0.0335,-0.0001,-0.0088,0.0049,-0.0008,0.0079,0.0152,0.023904,NaN
...,...,...,...,...,...,...,...,...,...
2021-06-30,0.0275,-0.0034,-0.0787,-0.0214,-0.0094,0.0000,0.0220,-0.039906,0.166637
2021-08-31,0.0291,-0.0068,-0.0015,-0.0028,-0.0179,0.0000,0.0245,0.026259,0.016917
2021-09-30,-0.0437,0.0112,0.0508,-0.0196,0.0210,0.0000,0.0149,-0.043082,-0.094239
2021-11-30,-0.0155,-0.0177,-0.0045,0.0720,0.0173,0.0000,0.0088,-0.037020,-0.128545
2021-12-31,0.0310,-0.0080,0.0326,0.0491,0.0440,0.0001,-0.0260,0.081046,-0.097620

In [29]:

df

            Mkt-RF     SMB     HML     RMW     CMA      RF  Mom          BRK
1988-11-30 -0.0229 -0.0165  0.0141 -0.0028  0.0162  0.0057  0.0033 -0.005291
1989-01-31  0.0610 -0.0231  0.0060 -0.0095  0.0014  0.0055 -0.0016  0.047872
1989-02-28 -0.0225  0.0271  0.0101 -0.0087  0.0181  0.0061  0.0099 -0.040609
1989-03-31  0.0157  0.0068  0.0058  0.0005  0.0072  0.0067  0.0351  0.047619
1989-05-31  0.0335 -0.0001 -0.0088  0.0049 -0.0008  0.0079  0.0152  0.023904
...            ...     ...     ...     ...     ...     ...     ...       ...
2021-06-30  0.0275 -0.0034 -0.0787 -0.0214 -0.0094  0.0000  0.0220 -0.039906
2021-08-31  0.0291 -0.0068 -0.0015 -0.0028 -0.0179  0.0000  0.0245  0.026259
2021-09-30 -0.0437  0.0112  0.0508 -0.0196  0.0210  0.0000  0.0149 -0.043082
2021-11-30 -0.0155 -0.0177 -0.0045  0.0720  0.0173  0.0000  0.0088 -0.037020
2021-12-31  0.0310 -0.0080  0.0326  0.0491  0.0440  0.0001 -0.0260  0.081046

[279 rows x 8 columns]